
<div class="container" *ngIf='post'>
    <a [routerLink]="['/post/page', '1']" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>

    <input type="submit" [routerLink]="['/post/edit', post._id]" class="btn btn-primary pull-right" value="Edit" *ngIf="user && post.author == user.username">
            <h1><strong>{{post.title}}</strong> <small>{{post.tags}}</small></h1>
    <!--<div class="row">
            <div class="col-md-10">
                <h1> {{post.title}} <small>{{post.tags}}</small></h1>
            </div> 
            <div class="col-md-2">
                <input type="submit" [routerLink]="['/post/edit', post._id]" class="btn btn-primary pull-right" value="Edit" *ngIf="post.author == user.username">
            </div>              
    </div> -->
    <div>
        <h2>{{post.content}}</h2>
    </div>
    <hr>

    <form (submit)="onCommentAddSubmit()">
        <div class="form-group">
            <textarea class="form-control" rows="5" [(ngModel)]="comment" name = "comment" placeholder="Add comment..."></textarea>            
        </div>
        <input type="submit" class="btn btn-primary" value="Add Comment">
    </form>
    <div *ngIf='post.comments.length == 0'>
        <h2>No comments</h2>
    </div>
    <div *ngIf='post.comments.length > 0'>
        <h2>Comments</h2>
        <div class="well" *ngFor='let userComment of post.comments'>
            <h3>{{userComment.username}}</h3>
            <h5>{{userComment.text}}</h5>
            <div class="row">
                <h5 class="col-md-10">{{userComment.date | date: 'medium'}}</h5>
                <h5 class="col-md-2"></h5>
            </div>
        </div>
    </div>
</div>
