<h2 class="page-header">Edit Post</h2>
<form (submit)="onPostSaveSubmit()">
    <div class="form-group">
      <label>Title</label>
      <input type="text" [(ngModel)]="title" name = "title" class="form-control" placeholder="Perfect title">
    </div>
    <div class="form-group">
      <label>Short description</label>
      <input type="text" [(ngModel)]="intro" name = "intro" class="form-control" placeholder="Some short description about your post">
    </div>
    <div class="form-group">
        <label>Tags</label>
        <input type="text" [(ngModel)]="tags" name = "tags" class="form-control" placeholder="Some tags">
    </div>
    <div class="form-group">
        <label>Content</label>
        <textarea class="form-control" rows="5" [(ngModel)]="content" name = "content" placeholder="Content goes here"></textarea>
    </div>
    <a [routerLink]="['/post', postId]" class="btn btn-default">Cancel</a>
    <input type="submit" class="btn btn-primary" value="Save">
</form>